AWD 攻击/AWD-master/test_schemas/development_schmea.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


    <!-- MACRO DEFINITIONS (do we really need these?) -->
    <define name="macro.paraContent">
        <zeroOrMore>
            <choice>
                <text/>
                <ref name="model.phrase"/>
                <ref name="model.inter"/>
                <ref name="model.global"/>
            </choice>
        </zeroOrMore>
    </define>

    <!-- END MACROS DEFINITIONS -->


    <!-- global and canonical attributes here -->
    <define name="att.global.attributes">
        <ref name="att.global.rendition.attributes"/>
        <ref name="att.global.linking.attributes"/>
        <ref name="att.global.responsibility.attributes"/>
        <ref name="att.global.attribute.xmlid"/>
        <ref name="att.global.attribute.n"/>
    </define>
    <define name="att.global.linking.attributes">
        <ref name="att.global.linking.attribute.corresp"/>
        <ref name="att.global.linking.attribute.next"/>
        <ref name="att.global.linking.attribute.prev"/>
    </define>
    <define name="att.global.linking.attribute.corresp">
        <optional>
            <attribute name="corresp">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >(corresponds) points to elements that correspond to the current element in some
                    way.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <define name="att.global.linking.attribute.next">
        <optional>
            <attribute name="next">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >points to the next element of a virtual aggregate of which the current element
                    is part.</a:documentation>
                <data type="anyURI"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.linking.attribute.prev">
        <optional>
            <attribute name="prev">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >(previous) points to the previous element of a virtual aggregate of which the
                    current element is part.</a:documentation>
                <data type="anyURI"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.attribute.xmlid">
        <optional>
            <attribute name="xml:id">
                <a:documentation>(identifier) provides a unique identifier for the element bearing
                    the attribute.</a:documentation>
                <data type="ID"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.attribute.n">
        <optional>
            <attribute name="n">
                <a:documentation>(number) gives a number (or other label) for an element, which is
                    not necessarily unique within the document.</a:documentation>
                <data type="string"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.rendition.attributes">
        <ref name="att.global.rendition.attribute.rend"/>
    </define>
    <define name="att.global.rendition.attribute.rend">
        <optional>
            <attribute name="rend">
                <a:documentation>(rendition) indicates how the element in question should be
                    rendered or presented in the source text.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="token">
                            <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                        </data>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <define name="att.global.responsibility.attributes">
        <ref name="att.global.responsibility.attribute.resp"/>
    </define>
    <define name="att.global.responsibility.attribute.resp">
        <optional>
            <attribute name="resp">
                <a:documentation>(responsible party) indicates the agency responsible for the
                    intervention or interpretation, for example a docAuthor or peer reviewer. Be
                    sure to use your xml:id</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <!-- END GLOBAL AND HIGH LEVEL ATTRIBUTE DEFINITIONS -->

    <define name="att.canonical.attributes">
        <ref name="att.canonical.attribute.ref"/>
    </define>
    <define name="att.canonical.attribute.ref">
        <optional>
            <attribute name="ref">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >(reference) provides an explicit means of locating a full definition or
                    identity for the entity being named by means of one or more
                    URIs.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>

    <define name="att.typed.attributes">
        <ref name="att.typed.attribute.type"/>
        <ref name="att.typed.attribute.subtype"/>
    </define>
    <define name="att.typed.attribute.type">
        <optional>
            <attribute name="type">
                <a:documentation>characterizes the element in some sense, using any convenient
                    classification scheme or typology.</a:documentation>
            </attribute>
        </optional>
    </define>
    <define name="att.typed.attribute.subtype">
        <optional>
            <attribute name="subtype">
                <a:documentation>provides a sub-categorization of the element, if
                    needed</a:documentation>
            </attribute>
        </optional>
    </define>
    <define name="att.resourced.attributes">
        <ref name="att.resourced.attribute.url"/>
    </define>
    <define name="att.resourced.attribute.url">
        <attribute name="url">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(uniform
                resource locator) specifies the URL from which the media concerned may be
                obtained.</a:documentation>
            <data type="anyURI"/>
        </attribute>
    </define>


    <!-- CONTENT MODELS -->
    <define name="model.global">
        <choice>
            <ref name="model.milestoneLike"/>
            <ref name="model.noteLike"/>
            <!--<ref name="figure"/> hold off on figure for now-->
        </choice>
    </define>
    <define name="model.common">
        <choice>
            <ref name="model.divPart"/>
            <ref name="model.inter"/>
        </choice>
    </define>
    <define name="model.divLike">
        <choice>
            <ref name="div"/>
        </choice>
    </define>
    <define name="model.divPart">
        <!-- Things that are components of divs -->
        <choice>
            <ref name="model.pLike"/>
        </choice>
    </define>
    <define name="model.pLike">
        <choice>
            <ref name="p"/>
        </choice>
    </define>
    <define name="model.phrase">
        <choice>
            <ref name="model.segLike"/>
            <ref name="model.ptrLike"/>
        </choice>
    </define>
    <define name="model.inter">
        <choice>
            <ref name="model.biblLike"/>
            <ref name="model.qLike"/>
        </choice>
    </define>
    <define name="model.segLike">
        <choice>
            <ref name="seg"/>
        </choice>
    </define>
    <define name="model.ptrLike">
        <choice>
            <!--<ref name="ptr"/> we'll hold off on the empty ptr element for now-->
            <ref name="ref"/>
        </choice>
    </define>
    <define name="model.biblLike">
        <choice>
            <ref name="bibl"/>
            <ref name="listBibl"/>
        </choice>
    </define>
    <define name="model.qLike">
        <choice>
            <ref name="cit"/>
            <ref name="q"/>
        </choice>
    </define>
    <define name="model.milestoneLike">
        <choice>
            <ref name="anchor"/>
        </choice>
    </define>
    <define name="model.noteLike">
        <ref name="note"/>
    </define>

    <define name="model.resourceLike">
        <choice>
            <ref name="text"/>
        </choice>
    </define>
    <define name="model.respLike">
        <a:documentation>This model contains elements that identify the roles a contributor to a
            document may have</a:documentation>
        <choice>
            <ref name="docAuthor"/>
            <ref name="reviewer"/>
        </choice>
    </define>
    <define name="peerReview">
        <a:documentation>part of the docHeader; contains information regarding the identity and any
            notes about the peer review process.</a:documentation>
        <element name="peerReview">
            <zeroOrMore>
                <choice>
                    <ref name="model.respLike"/>
                    <ref name="model.global"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <!-- END CONTENT MODELS -->

    <!-- ELEMENT DEFINITIONS -->
    <define name="note">
        <element name="note">
            <a:documentation>contains a note made on the text intended to provide additional
                information or comment upon the text</a:documentation>
            <optional>
                <ref name="att.global.attributes"/>
            </optional>
            <text/>
        </element>
    </define>
    <define name="docTitle">
        <element name="docTitle">
            <a:documentation>(document title) contains a title for the present
                document.</a:documentation>
            <text/>
            <zeroOrMore>
                <ref name="model.global"/>
            </zeroOrMore>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attribute.subtype"/>
        </element>
    </define>

    <define name="anchor">
        <element name="anchor">
            <a:documentation>(anchor point) attaches an identifier to a point within a text, whether
                or not it corresponds with a textual element. Used for arbitrary
                milestones.</a:documentation>
            <empty/>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>
    <define name="seg">
        <element name="seg">
            <a:documentation>(segment) denotes an arbitrary segment of text below the level of
                paragraph or equivalent.</a:documentation>
            <zeroOrMore>
                <ref name="macro.paraContent"/>
            </zeroOrMore>
            <ref name="att.typed.attributes"/>
            <ref name="att.global.attributes"/>
        </element>
    </define>
    <!--    <define name="figure">
        <element name="figure">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. Specific Elements for Graphic Images]</a:documentation>
            <zeroOrMore>
                <choice>
                    <ref name="model.headLike"/>
                    <ref name="model.common"/>
                    <ref name="figDesc"/>
                    <ref name="model.graphicLike"/>
                    <ref name="model.global"/>
                    <ref name="model.divBottom"/>
                </choice>
            </zeroOrMore>
            <ref name="att.global.attributes"/>
            <ref name="att.placement.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>-->
    <define name="bibl">
        <element name="bibl">
            <a:documentation>(bibliographic citation) contains a bibliographic
                citation.</a:documentation>
            <zeroOrMore>
                <choice>
                    <text/>

                    <ref name="model.ptrLike"/>
                    <ref name="model.global"/>
                </choice>
            </zeroOrMore>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>
    <define name="listBibl">
        <element name="listBibl">
            <a:documentation>(bibliographic list) contains a list of bibliographic
                citations.</a:documentation>
            <choice>
                <oneOrMore>
                    <choice>
                        <ref name="model.biblLike"/>
                        <ref name="model.milestoneLike"/>
                    </choice>
                </oneOrMore>
                <ref name="att.global.attributes"/>
                <ref name="att.typed.attributes"/>
            </choice>
        </element>
    </define>
    <define name="cit">
        <element name="cit">
            <a:documentation>(cited quotation) contains a quotation together with a bibliographic
                citation.</a:documentation>
            <oneOrMore>
                <choice>
                    <ref name="model.qLike"/>
                    <ref name="model.biblLike"/>
                    <ref name="model.ptrLike"/>
                </choice>
            </oneOrMore>
            <empty/>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
        </element>
    </define>
    <define name="q">
        <element name="q">
            <a:documentation>(quoted) contains text surrounded by quotation marks.</a:documentation>
            <ref name="macro.paraContent"/>
            <ref name="att.global.attributes"/>
            <optional>
                <attribute name="type">
                    <a:documentation>may be used to indicate whether the offset passage is spoken or
                        thought, or to characterize it more finely. Suggested values include: none
                        as of yet!</a:documentation>
                    <choice>
                        <!--<value>spoken</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">representation of speech</a:documentation>
                        <value>thought</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">representation of thought, e.g. internal monologue</a:documentation>
                        <value>written</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">quotation from a written source</a:documentation>
                        <value>soCalled</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">authorial distance</a:documentation>
                        <value>foreign</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                        <value>distinct</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">linguistically distinct</a:documentation>
                        <value>term</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">technical term</a:documentation>
                        <value>emph</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">rhetorically emphasized</a:documentation>
                        <value>mentioned</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">refering to itself, not its normal referent</a:documentation> -->
                        <data type="token">
                            <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                        </data>
                    </choice>
                </attribute>
            </optional>
        </element>
    </define>
    <define name="ref">
        <element name="ref">
            <a:documentation>(reference) defines a reference to another location, possibly modified
                by additional text or comment</a:documentation>
            <ref name="macro.paraContent"/>
            <ref name="att.global.attributes"/>
            <!--<ref name="att.pointing.attributes"/> save for now-->
        </element>
    </define>
    <define name="p">
        <element name="p">
            <a:documentation>(paragraph) a division of text indicating a
                paragraph.</a:documentation>
            <!-- still need to add relevant attribute classes -->
            <ref name="macro.paraContent"/>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
        </element>
    </define>

    <define name="div">
        <element name="div">
            <a:documentation>(division) a chunk-level division of a text of a higher order than
                paragraph.</a:documentation>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text
                division) contains a subdivision of the front, body, or back of a text. [4.1.
                Divisions of the Body]</a:documentation>
            <group>

                <zeroOrMore>
                    <choice>


                        <ref name="model.global"/>
                    </choice>
                </zeroOrMore>

                <optional>
                    <group>
                        <choice>

                            <oneOrMore>
                                <group>
                                    <choice>
                                        <ref name="model.divLike"/>
                                    </choice>

                                    <zeroOrMore>
                                        <ref name="model.global"/>
                                    </zeroOrMore>

                                </group>
                            </oneOrMore>

                            <group>
                                <oneOrMore>
                                    <group>

                                        <ref name="model.common"/>


                                        <zeroOrMore>
                                            <ref name="model.global"/>
                                        </zeroOrMore>

                                    </group>
                                </oneOrMore>
                                <zeroOrMore>
                                    <group>
                                        <choice>
                                            <ref name="model.divLike"/>

                                        </choice>

                                        <zeroOrMore>
                                            <ref name="model.global"/>
                                        </zeroOrMore>

                                    </group>
                                </zeroOrMore>
                            </group>
                        </choice>

                    </group>
                </optional>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="back">
        <element name="back">
            <a:documentation>(back matter) contains any appendixes, references, etc. following the
                main part of a text.</a:documentation>
            <group>
                <zeroOrMore>
                    <ref name="model.global"/>
                </zeroOrMore>
                <choice>
                    <oneOrMore>
                        <group>
                            <ref name="model.divLike"/>
                            <zeroOrMore>
                                <ref name="model.global"/>
                            </zeroOrMore>
                        </group>
                    </oneOrMore>
                    <oneOrMore>
                        <group>
                            <ref name="model.common"/>
                            <zeroOrMore>
                                <ref name="model.global"/>
                            </zeroOrMore>

                        </group>
                    </oneOrMore>
                </choice>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>

    </define>

    <define name="front">
        <element name="front">
            <a:documentation>(front matter) contains any prefatory matter (headers, abstracts, title
                page, prefaces, dedications, etc.) found at the start of a document, before the main
                body.</a:documentation>
            <group>
                <zeroOrMore>
                    <ref name="model.global"/>
                </zeroOrMore>
                <choice>
                    <oneOrMore>
                        <group>
                            <ref name="model.divLike"/>
                            <zeroOrMore>
                                <ref name="model.global"/>
                            </zeroOrMore>
                        </group>
                    </oneOrMore>
                    <oneOrMore>
                        <group>
                            <ref name="model.common"/>
                            <zeroOrMore>
                                <ref name="model.global"/>
                            </zeroOrMore>

                        </group>
                    </oneOrMore>
                </choice>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>

    </define>
    <define name="body">
        <element name="body">
            <a:documentation>(text body) contains the whole body of a single unitary text, excluding
                any front or back matter.</a:documentation>
            <group>
                <zeroOrMore>
                    <ref name="model.global"/>
                </zeroOrMore>
                <choice>
                    <oneOrMore>
                        <group>
                            <ref name="model.divLike"/>
                            <zeroOrMore>
                                <ref name="model.global"/>
                            </zeroOrMore>

                        </group>
                    </oneOrMore>
                    <group>
                        <oneOrMore>
                            <group>
                                <ref name="model.common"/>
                                <zeroOrMore>
                                    <ref name="model.global"/>
                                </zeroOrMore>

                            </group>
                        </oneOrMore>
                    </group>
                </choice>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>

    </define>
    <!-- HEADER STUFF -->
    <define name="docHeader">
        <element name="docHeader">
            <a:documentation>(document header) includes relevant metadata information regarding the
                title, author, reviewer, etc. of the text.</a:documentation>
            <group>
                <interleave>
                    <ref name="docDesc"/>
                    <zeroOrMore>
                        <ref name="model.global"/>
                    </zeroOrMore>
                </interleave>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="docDesc">
        <element name="docDesc">
            <a:documentation>(document description) contains a description of an document
                file.</a:documentation>
            <group>
                <ref name="titleStmt"/>
                <zeroOrMore>
                    <ref name="reflStmt"/>
                    <ref name="peerReview"/>
                </zeroOrMore>
            </group>
            <ref name="att.global.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="titleStmt">
        <element name="titleStmt">
            <a:documentation>(title statement) groups information about the title of a document and
                those responsible for its content.</a:documentation>
            <group>
                <oneOrMore>
                    <ref name="docTitle"/>
                    <ref name="model.respLike"/>
                </oneOrMore>
            </group>
            <zeroOrMore>
                <ref name="model.global"/>
            </zeroOrMore>
            <ref name="att.global.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="docAuthor">
        <element name="docAuthor">
            <a:documentation>(document author) contains the name(s) of an author, personal or
                corporate, of the current document.</a:documentation>
            <text/>
            <zeroOrMore>
                <ref name="model.global"/>
            </zeroOrMore>
            <ref name="att.global.attributes"/>
            <ref name="att.canonical.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="reviewer">
        <element name="reviewer">
            <a:documentation>(reviewer) contains the name (and optional note) of a reviewer of the
                text</a:documentation>
            <text/>
            <zeroOrMore>
                <ref name="model.global"/>
            </zeroOrMore>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
            <empty/>
        </element>
    </define>

    <define name="reflStmt">
        <element name="reflStmt">
            <a:documentation>(reflection statement) contains pertinent framing and contextual
                information about a document. This statement will follow the titleStmt in the
                docDesc.</a:documentation>
            <choice>
                <ref name="model.divPart"/>
            </choice>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>

            <empty/>
        </element>
    </define>
    <!-- END HEADER -->
    <define name="text">
        <element name="text">
            <a:documentation>(text content) contains a single text of any kind, whether unitary or
                composite, for example a poem or drama, a collection of essays, a novel, a
                dictionary, or a corpus sample. </a:documentation>
            <group>

                <zeroOrMore>
                    <ref name="model.global"/>
                </zeroOrMore>

                <optional>
                    <group>
                        <ref name="front"/>

                        <zeroOrMore>
                            <ref name="model.global"/>
                        </zeroOrMore>

                    </group>
                </optional>

                <choice>
                    <ref name="body"/>

                </choice>

                <zeroOrMore>
                    <ref name="model.global"/>
                </zeroOrMore>

                <optional>
                    <group>
                        <ref name="back"/>

                        <zeroOrMore>
                            <ref name="model.global"/>
                        </zeroOrMore>

                    </group>
                </optional>

            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>
    <define name="DOC">
        <element name="DOC">
            <a:documentation>(Document) contains a single schema-conformant document, combining a
                single docHeader with one or more members of the model.resourceLike class. Multiple
                DOC elements may be combined to form a docCorpus element.</a:documentation>
            <group>
                <ref name="docHeader"/>
                <oneOrMore>
                    <ref name="model.resourceLike"/>
                </oneOrMore>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>

    <start>
        <choice>
            <ref name="DOC"/>
        </choice>
    </start>
</grammar>
